<footer id="footer-section">
  <div class="row">
    <div class="col-sm-6">
      <b>Learn More</b> <br>
      <a href="#">jerrywangvic@gmail.com</a> <br>
      <a href="#">778-708-6336</a> <br>
      <a href="#">Vancouver BC</a> <br>
      <a href="#">fizz</a>  <br>
      <a href="#">buzz</a> <br>
    </div>

    <div class="col-sm-6">
      <b>What Else</b> <br>
      <a href="#">foo</a> <br>
      <a href="#">bar</a> <br>
      <a href="#">baz</a> <br>
      <a href="#">fizz</a>  <br>
      <a href="#">buzz</a> <br>
    </div>
  </div>

  <p id="copy-r">2017 Vic Wang &copy;</p>
</footer>
