<div class="social" id="social-section">
  <h3>Let's Get Social</h3>
  <br>

  <div class="row">
    <div class="col-sm-2">
      <a href="https://linkedin.com/in/vic-hl-wang">
        <i class="fa fa-linkedin fa-4x"></i>
      </a>
    </div>

    <div class="col-sm-2">
      <a href="https://github.com/vilmes21">
        <i class="fa fa-github fa-4x"></i>
      </a>
    </div>

    <div class="col-sm-2">
      <i class="fa fa-twitter fa-4x"></i>
    </div>

    <div class="col-sm-2">
      <i class="fa fa-google-plus fa-4x"></i>
    </div>

    <div class="col-sm-2">
      <i class="fa fa-facebook fa-4x"></i>
    </div>

    <div class="col-sm-2">
      <i class="fa fa-instagram fa-4x"></i>
    </div>
  </div>
  <!-- closing .row -->
</div>
<!-- closing .social -->
