  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">User Instruction</h2>
        </div>
        <div class="modal-body">
          <h3>This simplifier app has 2 modes: </h3>
          <p>
            1. typing mode, for simplying one equation at a time. Unfortunately, the app currently does not recognize multiplication / exponentiation of brackets.
          </p>
          <p>
            2. file converting mode, for converting all the equations in that file whose path is provided to this app. The number of equations the file may contain is infinite, as long as one line has only one equation.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Get Started</button>
        </div>
      </div>
      <!-- closing .modal-content -->

    </div>
  </div>
  <!-- closing #myModal -->
