<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand text-danger" href="#">
              <img src="http://is5.mzstatic.com/image/thumb/Purple111/v4/b3/9f/8b/b39f8b1f-960c-20f1-a774-3f4f1332c5ed/source/175x175bb.jpg" id="calc-logo" alt="calc-logo">
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
                <li data-toggle="modal" data-target="#myModal">
                  <a href="#section1">
                    <strong>Instruction</strong>
                  </a>
                </li>
                <li><a href="#social-section">
                  <strong>Contact</strong>
                </a></li>
                <li><a href="#footer-section">
                  <strong>About</strong>
                </a></li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</nav>
